body{
    margin:0%;
    padding:0px;
    font-size:16px;
    font-family: sans-serif;
}
.leftside{
    border:1px solid black;
    height:50px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.anchr{
    color:green;
    margin-left:15px;
    margin-top:3px;
}
.left-col{
    height:1000px;
}